body,
html {
	margin: 0;
	padding: 0;
	display: block;
	font-family: Roboto, sans-serif;
	background-color: #edecec;
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	overflow: auto;
}

/* fonts */
@import url('https://fonts.cdnfonts.com/css/canela');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');


* {

	/* or absolute, fixed, or sticky, as needed */
	z-index: inherit;
}


a {
	text-decoration: none;
	color: #606060;
	font-size: inherit;
	z-index: 99999;
}

a.header-social-icon {
	padding: 0.5em;
}

#react-root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-behavior: smooth;
}

#canvas {

	position: fixed;
	left: 0vh;
	top: 0vh;

	z-index: -1;
	transition: left 0.8s ease-in-out, top 0.8s ease-in-out;


}

canvas {
	width: 100%;
	height: 100%;
}

#tsparticles canvas {
	z-index: -10 !important;

}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);

	transition: top 0.7s ease-in-out;
	/* Transition for both hiding and showing */
}

.header-hiding {
	top: -20%;
	/* Adjust based on the height of your header */
}

.header-hidden {
	top: -20%;
}

.footer {
	background-color: #141414;
	/* Dark blue color */
	color: white;
	padding: 20px 0;
	text-align: center;
	height: 30%; 
}

.footer a {
	color: white;
	margin: 0 10px;
	text-decoration: none;
	font-size: 16px;
}

.footer a:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.underline {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.footer .social-icons {
	margin-top: 20px;
}

.social-icons img {
	width: 24px;
	margin: 0 5px;
}

.header {
	background-color: white;
	/* Dark blue color */
	color: #606060;
	padding: 10px 0;
	text-align: center;
}

.header .menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header .menu li {
	display: inline;
	margin-right: 20px;
}

.header .menu a {
	color: #606060;
	text-decoration: none;
	font-size: 16px;
}

.header .menu a:hover {
	text-decoration: underline;
	text-underline-offset: 7px;
}

.header .social-icons {
	display: inline;
}

.social-icons img {
	width: 24px;
	margin-left: 5px;
}


.content {
	min-height: 75%;
	top: 8%;
	padding: 3em;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	opacity: 0;
	transform: translateY(0);
}

.vanish-move-down {
	opacity: 1;
	transform: translateY(20px);
	/* Adjust as needed for the "slightly move down" effect */
}

.nav-link {
	font-size: 1.5em !important;
}

.nav-list-desk {
	font-size: 0.8em !important;
	padding: 0.3em;
}

.glassmorph {
	display: flex;
	position: relative;
	/* Setting the size of the upper layer to 80% of the screen size*/
	height: 80vh;
	width: 80vw;
	align-items: center;
	justify-content: space-between;
	padding: 1em 3em 1em 3em;

	/*the alpha value controls the transparency*/
	background: rgba(255, 255, 255, 0.3);

	/* This controls the blurring effect*/
	backdrop-filter: blur(7.5px);
	-webkit-backdrop-filter: blur(7.5px);

	/*Adding the shadow*/
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);

	/* Adding our borders*/
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 0;
}


.uli-content li {
	/* Estilos aquí */
	padding: 0.5em;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}



.title p {
	font-family: 'Fira Code', monospace;
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 5rem;
	background: linear-gradient(to bottom, #262626, #262626 60%, #fff 60%, #fff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-repeat: no-repeat;
	transition: background 0.2s ease-out;
	white-space: nowrap;
	margin: 36px;
}

.title span {
	position: relative;
}

.title span:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 16px;
	background: #262626;
	bottom: 3.23em;
	transition: all 0.2s ease-out;
}

.title :hover {

	background-position: 0 11px;
}

.title span:hover:before {
	transform: translateY(10px)
}

.shiny-link {
	color: #FF3805;
	text-decoration: none;
	/* Quitamos el subrayado predeterminado */
	background-image: linear-gradient(to right, #FF3805 50%, transparent 50%);
	background-repeat: no-repeat;
	background-size: 100% 2px;
	/* Ajusta el ancho y el alto del subrayado */
	background-position: 0 100%;
	transition: background-size 0.3s ease;
	/* Transición suave */
}

.shiny-link:hover {
	background-size: 200% 2px;
	/* Aumenta el tamaño del fondo para mostrar el subrayado completo */
}

.shiny-link-purple {
	color: #6800F8;
	text-decoration: none;
	/* Quitamos el subrayado predeterminado */
	background-image: linear-gradient(to right, #6800F8 50%, transparent 50%);
	background-repeat: no-repeat;
	background-size: 100% 2px;
	/* Ajusta el ancho y el alto del subrayado */
	background-position: 0 100%;
	transition: background-size 0.3s ease;
	/* Transición suave */
}

.shiny-link-purple:hover {
	background-size: 200% 2px;
	/* Aumenta el tamaño del fondo para mostrar el subrayado completo */
}

/* title component */
.title-container {
	display: block;
	color: #141414;
	height: 70vh;
	width: 80%;
	margin: 10vh auto;
	font-size: 4.5em;
	font-family: Playfair Display, serif;


}

.title-container {
	position: relative;
}

.hero-title {
	z-index: 1;
	top: 0;
	left: 0;
}

.title-container h1 {
	height: 100%;
	font-weight: 400;

	margin: auto auto auto 5%;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.u-splitted-lines-3 {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin-left: 10%;
}

.u-splitted-lines-3>* {
	margin-left: 0.3em;
}

.u-splitted-lines-2 {
	margin-left: 20%;
}

.hero-title--three-lines {
	height: 100%;

}

.hero-floating-text {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	color: #606060;
	font-size: 0.3em;
	font-family: "Noto Serif Display", serif;
}

.hero-floating-text__left {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 10%;
}

.hero-floating-text__right {
	position: absolute;
	top: 7%;
	right: 18%;
	max-width: 15%;
}


/* paragraph component */

.paragraph-normal {
	font-size: 2em;
	font-family: "Noto Serif Display", serif;
	font-weight: 300;
	color: #141414;
}

.purple-title {
	color: #6800F8;
	font-size: 1.8em;
	font-family: "Roboto", serif;
	font-weight: 400;
}

/* join us component */
.steps-container-left {
	margin-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: start;
	padding-left: 7em;
}

.steps-container-right {
	margin-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-right: 7em;
}

.steps-container-middle {
	margin-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-content: center;
}

/* team component */


/* styles.css */

.team-content-container {
	margin-top: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.team-grid {
	display: grid;
	gap: 1rem;
  }
  
  .team-member {
	border: 1px solid #ccc;
	padding: 1rem;
	text-align: center;
	overflow: hidden; /* Hide overflow to clip the images */
  }
  
  .team-member img {
	width: 100%; /* Full width of the container */
	height: 200px; /* Set a fixed height, adjust as needed */
	object-fit: cover; /* Cover the container, clip the excess */
	border: 1px solid #ccc;
  }
  
  .team-member h2 {
	margin: 0.5rem 0;
  }
  
  .team-member p {
	margin: 0;
  }
  
  .team-member a {
	color: #007bff;
	text-decoration: none;
  }
  
  .team-member a:hover {
	text-decoration: underline;
  }
  
  /* Responsive grid columns */
  .grid-3 {
	grid-template-columns: repeat(3, 1fr);
  }
  